<% include header.ejs %>
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
      <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">eCommerce</div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
          </nav>
        </div>
        <div class="ms-auto">
          <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split"
              data-bs-toggle="dropdown"> <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item"
                href="javascript:;">Action</a>
              <a class="dropdown-item" href="javascript:;">Another action</a>
              <a class="dropdown-item" href="javascript:;">Something else here</a>
              <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated
                link</a>
            </div>
          </div>
        </div>
      </div>
      <!--end breadcrumb-->

      <div class="card mt-4">
        <div class="card-body">
          <div class="product-table">
            <div class="table-responsive white-space-nowrap">
              <table class="table align-middle" id="example">
                <thead class="table-light">
                  <tr>
                    <th>Mã ĐH</th>
                    <th>Tổng tiền</th>
                    <th>Tên khách hàng</th>
                    <th>Trạng thái thanh toán</th>
                    <th>Trạng thái</th>
                    <th>Ngày</th>
                    <th>Upload</th>
                  </tr>
                </thead>
                <tbody>
                  <%orders.forEach((order)=>{%>
                    <tr>
                      <td>
                        <a href="javascript:;">
                          <%=order.orderNumber%>
                        </a>
                      </td>
                      <td>
                        <%=order.totalOrderPrice%>
                      </td>
                      <td>
                        <a class="d-flex align-items-center gap-3" href="javascript:;">
                          <p class="mb-0 customer-name fw-bold">
                            <%=order.user.name%>
                          </p>
                        </a>
                      </td>
                      <td>
                        <%=order.paymentMethod%>
                      </td>
                      <td>
                        <select class="form-select" id="AddCategory">
                          <option value="0">Khởi tạo đơn hàng</option>
                          <option value="1">Chờ lấy hàng</option>
                          <option value="2">Chờ giao hàng</option>
                          <option value="3">Đã giao</option>
                          <option value="4">Đã hủy</option>
                        </select>
                      </td>
                      <td>
                        <%=order.createdAt%>
                      </td>
                      <td>
                        <button type="button" class="btn btn-outline-warning px-4 d-flex gap-2"><i class="material-icons-outlined">cloud_upload</i>Upload</button>
                      </td>
                    </tr>
                    <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
  <% include footer.ejs %>