<% include header.ejs %>

    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/products">Sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <%=pageName%>
                    </li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="product-details-top">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery product-gallery-vertical">
                                <div class="row">
                                    <figure class="product-main-image">
                                        <img id="product-zoom" src="<%=product.images.at(0)%>"
                                            data-zoom-image="<%=product.images.at(0)%>" alt="product image">

                                        <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </figure><!-- End .product-main-image -->

                                    <div id="product-zoom-gallery" class="product-image-gallery">
                                        <a class="product-gallery-item active" href="#"
                                            data-image="<%=product.images.at(0)%>"
                                            data-zoom-image="<%=product.images.at(0)%>">
                                            <img src="<%=product.images.at(0)%>" alt="product side">
                                        </a>

                                        <!-- <a class="product-gallery-item" href="#"
                                            data-image="/public/user/assets//images/products/single/2.jpg"
                                            data-zoom-image="/public/user/assets//images/products/single/2-big.jpg">
                                            <img src="/public/user/assets//images/products/single/2-small.jpg" alt="product cross">
                                        </a>

                                        <a class="product-gallery-item" href="#"
                                            data-image="/public/user/assets//images/products/single/3.jpg"
                                            data-zoom-image="/public/user/assets//images/products/single/3-big.jpg">
                                            <img src="/public/user/assets//images/products/single/3-small.jpg"
                                                alt="product with model">
                                        </a>

                                        <a class="product-gallery-item" href="#"
                                            data-image="/public/user/assets//images/products/single/4.jpg"
                                            data-zoom-image="/public/user/assets//images/products/single/4-big.jpg">
                                            <img src="/public/user/assets//images/products/single/4-small.jpg" alt="product back">
                                        </a> -->
                                        <%product.images.slice(1).forEach((image)=>{%>
                                            <a class="product-gallery-item" href="#" data-image="<%=image%>"
                                                data-zoom-image="<%=image%>">
                                                <img src="<%=image%>" alt="product cross">
                                            </a>
                                            <%})%>
                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .row -->
                            </div><!-- End .product-gallery -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="product-details">
                                <h1 class="product-title">
                                    <%=product.title%>
                                </h1>
                                <!-- End .product-title -->

                                <div class="product-price">
                                    <%=product.sizePrices.at(0).price%>
                                </div><!-- End .product-price -->

                                <div class="details-filter-row details-row-size">
                                    <label for="size">Kích thước:</label>
                                    <div class="select-custom">
                                        <select name="size" id="size" class="form-control">
                                            <option value="<%=product.sizePrices.at(0).price%>" selected="selected" data-id="<%=product.sizePrices.at(0)._id%>">
                                                <%=product.sizePrices.at(0).size%>
                                            </option>
                                            <!-- <option value="s">Small</option>
                                            <option value="m">Medium</option>
                                            <option value="l">Large</option>
                                            <option value="xl">Extra Large</option> -->
                                            <%product.sizePrices.slice(1).forEach((sizePrices)=>{%>
                                                <option value="<%=sizePrices.price%>" data-id="<%=product.sizePrices.at(0)._id%>">
                                                    <%=sizePrices.size%>
                                                </option>
                                                <%})%>
                                        </select>
                                    </div><!-- End .select-custom -->

                                </div><!-- End .details-filter-row -->

                                <div class="details-filter-row details-row-size">
                                    <label for="qty">Số lượng:</label>
                                    <div class="product-details-quantity">
                                        <input type="number" id="qty" class="form-control" value="1" min="1" max="200"
                                            step="1" data-decimals="0" required>
                                    </div><!-- End .product-details-quantity -->
                                </div><!-- End .details-filter-row -->
                                <%if(product.available){%>
                                <div class="product-details-action">
                                    <a href="#" class="btn-product btn-cart" onclick="addToCart('<%= product.productCode %>')"><span>Thêm vào giỏ hàng</span></a>
                                </div><!-- End .product-details-action -->
                                <%}%>
                                <div class="product-details-footer">
                                    <div class="product-cat">
                                        <span>Danh mục:</span>
                                        <a href="/products/<%=product.category.slug%>">
                                            <%=product.category.title%>
                                        </a>
                                    </div><!-- End .product-cat -->

                                    <div class="social-icons social-icons-sm">
                                        <span class="social-label">Share:</span>
                                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                                class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                                class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                                class="icon-pinterest"></i></a>
                                    </div>
                                </div><!-- End .product-details-footer -->
                            </div><!-- End .product-details -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .product-details-top -->

                <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                                role="tab" aria-controls="product-desc-tab" aria-selected="true">Thông tin</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                            aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <%=product.description%>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .product-details-tab -->

                <h2 class="title text-center mb-4">Dành cho bạn</h2><!-- End .title text-center -->

                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
                <%relatedProducts.forEach((product)=>{%>
                    <%if(product.available){%>
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="/products/<%=product.category.slug%>/<%=product.productCode%>">
                                <img src="<%=product.images.at(0)%>" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action">
                                <a href="/products/<%=product.category.slug%>/<%=product.productCode%>" class="btn-product btn-cart"><span>Xem ngay</span></a>
                            </div>
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="/products/<%=product.category.slug%>">Jumpers</a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="/products/<%=product.category.slug%>/<%=product.productCode%>"><%=product.title%></a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                <%=product.sizePrices.at(0).price%> - <%=product.sizePrices.at(-1).price%>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                    <%}})%>
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <% include footer.ejs %>