<% include header.ejs %>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Danh sách<span>Sản phẩm</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="products mb-3">
                            <%products.forEach((product)=>{%>
                                <div class="product product-list">
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">
                                                <% if(product.available==false){%>
                                                    <span class="product-label label-out">Hết hàng</span>
                                                    <% } %>
                                                        <a
                                                            href="/products/<%=product.category.slug%>/<%=product.productCode%>">
                                                            <img src="<%=product.images.at(0)%>" alt="Product image"
                                                                class="product-image">
                                                        </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            <div class="product-list-action">
                                                <div class="product-price">
                                                    <%=product.sizePrices.at(0).price%> - <%=product.sizePrices.at(-1).price%>
                                                </div><!-- End .product-price -->
                                                <a href="#" class="btn-product btn-cart"><span>Xem chi tiết</span></a>
                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">
                                                <div class="product-cat">
                                                    <a href="/products/<%=product.category.slug%>/">
                                                        <%=product.category.title%>
                                                    </a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/products/<%=product.category.slug%>/<%=product.productCode%>">
                                                        <%=product.title%>
                                                    </a></h3><!-- End .product-title -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .product -->
                                <% }) %>
                        </div><!-- End .products -->

                        <nav aria-label="Page navigation">
                            <% include pagination.ejs %>
                        </nav>
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar">
                            <div class="widget widget-search">
                                <h3 class="widget-title">Tìm kiếm</h3><!-- End .widget-title -->

                                <form action="/products/search" method="GET">
                                    <label for="ws" class="sr-only">Bạn tìm gì hôm nay</label>
                                    <input type="search" class="form-control" name="search" id="ws"
                                        placeholder="Bạn tìm gì hôm nay" required>
                                    <button type="submit" class="btn"><i class="icon-search"></i><span
                                            class="sr-only">Tìm kiếm</span></button>
                                </form>
                            </div><!-- End .widget -->
                            <div class="widget widget-cats">
                                <h3 class="widget-title">Danh mục</h3><!-- End .widget-title -->
                                <ul>
                                    <%categories.forEach((category)=>{%>
                                        <li><a href="/products/<%=category.slug%>">
                                                <%=category.title%>
                                            </a></li>
                                        <%})%>
                                </ul>
                            </div><!-- End .widget -->
                        </div>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <% include footer.ejs %>